<div>
    {{#if chatId}}
        <main class="chat-dialog">
            <section class="chat-dialog__user-panel">
                <div class="chat-user">
                    <div class="chat-user__avatar"></div>
                    <div class="chat-user__name">
                        {{chatter}}
                    </div>
                    <div class="chat-user__menu">
                        <div class="dropdown">
                            <div class="dropdown__btn {{#if openUserMenu}}dropdown__btn_active{{/if}}">
                                <span class="icon icon_menu"></span>
                            </div>
                            <div class="dropdown__menu {{#if openUserMenu}}dropdown__menu_show{{/if}}">
                                <div id="user-add">
                                    <span class="icon icon_user-add"></span>
                                    Добавить пользователя
                                </div>
                                <div id="user-remove">
                                    <span class="icon icon_user-remove"></span>
                                    Удалить пользователя
                                </div>
                                <div id="chat-remove">
                                    <span class="icon icon_trash"></span>
                                    Удалить текущий чат
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </section>
            <section class="chat-dialog__history-panel">
                <div class="chat-history">
                    {{#each history}}
                        <div class="chat-history__row chat-history__row_{{sender}}">
                            {{#if image}}
                                <div class="chat-image chat-image_{{sender}}">
                                    <img src="{{image}}" class="chat-image__image" alt="{{image}}">
                                    <div class="chat-image__status">
                                        {{#if delivered}}
                                            <div class="chat-image__verified">
                                                <span class="icon icon_verified"></span>
                                            </div>
                                        {{/if}}
                                        <span class="chat-image__time">{{time}}</span>
                                    </div>
                                </div>
                            {{else}}
                                <div class="chat-message chat-message_{{sender}}">
                                    <span class="chat-message__text">{{{message}}}</span>
                                    <div class="chat-message__status">
                                        {{#if delivered}}
                                            <span class="chat-message__verified">
                                        <span class="icon icon_verified"></span>
                                    </span>
                                        {{/if}}
                                        <span class="chat-message__time">{{time}}</span>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            </section>
            <section class="chat-dialog__chat-panel">
                <hr>
                <div class="chat-input">
                    <div class="chat-input__menu">
                        <div class="dropdown">
                            <div class="dropdown__btn {{#if openAttachmentMenu}}dropdown__btn_active{{/if}}">
                                <span class="icon icon_link"></span>
                            </div>
                            <div class="dropdown__menu dropdown__menu_droup {{#if openAttachmentMenu}}dropdown__menu_show{{/if}}">
                                <div id="user-media">
                                    <span class="icon icon_image"></span>
                                    Фото или Видео
                                </div>
                                <div id="user-file">
                                    <span class="icon icon_image"></span>
                                    Файл
                                </div>
                                <div id="user-add">
                                    <span class="icon icon_location"></span>
                                    Локация
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-input__message">
                        <form onsubmit="return false" id="user-message">
                            <input type="text" name="message" placeholder="Сообщение">
                        </form>
                    </div>
                    <div class="chat-input__send">
                        <span class="icon icon_navigation"></span>
                    </div>
                </div>
            </section>
        </main>
    {{else}}
        <main class="chat-welcome">
            <div class="chat-welcome__logo">
                <span class="icon icon_chats"></span>
            </div>
            <div class="chat-welcome__message">
                <span>Выберите чат чтобы отправить сообщение</span>
            </div>
        </main>
    {{/if}}
    {{{_userAddModal}}}
    {{{_userRemoveModal}}}
    {{{_chatRemoveModal}}}
</div>
