<div class="form-horizontal__group">
    <label class="form-horizontal__label" for="{{name}}">{{title}}</label>
    <input class="form-horizontal__input {{#unless editMode}}form-horizontal__input_disabled{{/unless}}"
            type="{{#if type}}{{type}}{{else}}text{{/if}}"
            placeholder="{{title}}"
            name="{{name}}"
            value="{{value}}">
</div>
{{#if errorMsg}}
    <label class="form-horizontal__error">{{errorMsg}}</label>
{{/if}}
<hr>
