<main class="user-profile">
    <div class="user-profile__avatar">
        <div class="user-avatar" id="user-avatar">
            <div class="user-avatar__edit">
                <span>Поменять<br>аватар</span>
            </div>
            {{#if avatarSrc}}
                <img class="initial-avatar" src="{{avatarSrc}}" alt="Изображение пользователя">
            {{else}}
                <div class="initial-avatar">
                    <span class="icon icon_user"></span>
                </div>
            {{/if}}
        </div>
        {{#unless editMode}}
            <div class="user-profile__display-name">
                <span>{{displayName}}</span>
            </div>
        {{/unless}}
    </div>
    <div class="user-profile__form">
        <form class="form-horizontal" onsubmit="return false">
            {{#each _formFields}}
                {{{lookup ../this @key}}}
            {{/each}}
            {{#if editMode}}
                <div class="form__submit">
                    {{{_formButton}}}
                </div>
            {{/if}}
        </form>
    </div>
    {{#unless editMode}}
        <nav class="user-profile__links">
            <a class="user-profile__link" href="javascript:router.go('/settings/edit')">Изменить данные</a>
            <hr>
            <a class="user-profile__link" href="javascript:router.go('/settings/password/edit')">Изменить пароль</a>
            <hr>
            <a class="user-profile__link user-profile__link_exit" href="javascript:router.go('/settings/logout')">Выйти</a>
        </nav>
    {{/unless}}
</main>
