---
title: "Яндекс Практикум (Спринт 1) - Страница регистрации"
formFields: [
{ title: "Почта", name: "email", value: "pochta@mail.ru", errorMsg: "" },
{ title: "Логин", name: "login", value: "ivanivanov", errorMsg: "" },
{ title: "Имя", name: "first_name", value: "Иван", errorMsg: "" },
{ title: "Фамилия", name: "second_name", value: "Иванов", errorMsg: "" },
{ title: "Телефон", name: "phone", value: "+7 (909) 934 23 54", errorMsg: "" },
{ title: "Пароль", type: "password", name: "password_attempt", value: "qwerty1234", errorMsg: "   " },
{ title: "Пароль (ещё раз)", type: "password", name: "password", value: "qwerty", errorMsg: "Пароли не совпадают" },
]
---
{{> _header}}
    <main id="register" class="modal modal_show">
        <div class="modal-dialog">
            <div class="modal-dialog__header">
                <h2>Регистрация</h2>
                <hr>
            </div>
            <div class="modal-dialog__content">
                <form class="form" action="#" method="get">
                    {{#each formFields}}
                        <div class="form__group">
                            <input class="form__input {{#if errorMsg}}form__input_error{{/if}}"
                                   type="{{#if type}}{{type}}{{else}}text{{/if}}"
                                   placeholder="{{title}}"
                                   name="{{name}}"
                                   value="{{value}}">

                            <label class="form__label" for="{{name}}">{{title}}</label>
                            {{#if errorMsg}}
                                <label class="form__error">{{errorMsg}}</label>
                            {{/if}}
                        </div>
                    {{/each}}
                    <div class="form__submit">
                        <button type="submit">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
            <div class="modal-dialog__info">
                <a href="login.hbs">Уже есть данные входа?</a>
            </div>
        </div>
    </main>
{{> _footer}}
