<div id="{{dialogId}}" class="modal modal_closable modal_show">
    <div class="modal-dialog">
        <div class="modal-dialog__header {{#if titleError}}modal-dialog__header_error{{/if}}">
            <h2>{{#if titleError}}{{titleError}}{{else}}{{title}}{{/if}}</h2>
            <hr>
        </div>
        <div class="modal-dialog__content">
            <form class="form" action="#" method="get">
                <div class="form__group">
                    <input class="form__input {{#if loginError}}form__input_error{{/if}}"
                           type="text" placeholder="Логин" name="login" value="{{login}}" required>
                    <label class="form__label" for="login">Логин</label>
                    {{#if loginError}}
                        <label class="form__error">{{loginError}}</label>
                    {{/if}}
                </div>
                <div class="form__submit">
                    <button type="submit">{{submitText}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
