<div id="{{dialogId}}" class="modal modal_closable {{#if showModal}}modal_show{{/if}}">
    <div class="modal-dialog">
        <div class="modal-dialog__header {{#if titleError}}modal-dialog__header_error{{/if}}">
            <h2>{{#if titleError}}{{titleError}}{{else}}{{title}}{{/if}}</h2>
            <hr>
        </div>
        <div class="modal-dialog__content">
            <form class="form" onsubmit="return false">
                <div class="form__group">
                    <input class="form__input {{#if fieldError}}form__input_error{{/if}}"
                           type="text" placeholder="{{fieldPlaceholder}}"
                           name="{{fieldName}}" value="{{fieldValue}}" required {{#if fieldDisabled}} disabled {{/if}}>
                    <label class="form__label" for="{{fieldName}}">{{fieldTitle}}</label>
                    {{#if fieldError}}
                        <label class="form__error">{{fieldError}}</label>
                    {{/if}}
                </div>
                <div class="form__submit">
                    <button type="submit">{{submitText}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
